* {
    background-color: rgb(111, 160, 235);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-weight: bold;
}